<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tlkuo-pay-swift-debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>tlkuo-pay-swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>tlkuo-swift-debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>tlkuo-swift.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5BFAD8891C87317100DA365A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BFAD8A01C87317100DA365A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BFAD8AB1C87317100DA365A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BFAD8C31C8877E900DA365A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BFAD8D91C8877E900DA365A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BFAD8E41C8877E900DA365A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
